<h2>User registration form</h2>
<hr />
<form
  novalidate
  autocomplete="off"
  #f="ngForm"
  (ngSubmit)="onSubmitHandler(f.value)"
>
  <div class="form-group">
    <label for="name">
      Your name
    </label>
    <input type="text" name="name" class="form-control" />
  </div>

  <div class="form-group">
    <label for="name">
      City
    </label>
    <select name="city" class="form-control">
      <option value="Bengaluru">Bengaluru</option>
    </select>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Newsletter</label>
  </div>

  <div class="form-group">
    <label for="name">
      Description
    </label>
    <textarea name="description" rows="3" class="form-control"></textarea>
  </div>
  <label>Your exercise schedule</label>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="exampleRadios"
      id="exampleRadios1"
      value="option1"
      checked
    />
    <label class="form-check-label" for="exampleRadios1">
      Daily
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="exampleRadios"
      id="exampleRadios2"
      value="option2"
    />
    <label class="form-check-label" for="exampleRadios2">
      Three times a week
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="exampleRadios"
      id="exampleRadios3"
      value="option3"
    />
    <label class="form-check-label" for="exampleRadios3">
      Once a week
    </label>
  </div>

  <button class="btn btn-primary mt-5">Submit</button>
</form>
